/* contact.css */
.contact {
    height: auto;
    align-items: center;
    background-color: #103e38;
    width: 100%;
    padding: 20px 0;
}

.formSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contactTitle {
    width: 90%;
    text-align: center;
    justify-content: center;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: #ffffff;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
}

/* Container for form and image */
.form {
    display: flex;
    justify-content: space-between; /* Ensure space between form and image */
    align-items: flex-start; /* Aligns items at the start of the container */
    width: 80%;
    max-width: 1200px; /* Optional, limits the maximum width */
    margin: 0 auto; /* Centers the container */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.formC {
    width: 60%; /* Adjust the width of the form */
}

.formGroup {
    margin-bottom: 15px;
    width: 100%; /* Ensure the inputs take up full width */
}

.formGroup input,
.formGroup textarea {
    width: 100%; /* Adjust input width to be 100% of its container */
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formGroup textarea {
    height: 80px;
    resize: none;
}

.submitButton {
    background-color: #103e38;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #379b92;
}

/* Image Section */
.imageSection {
    width: 35%; /* Image takes up 35% of the form's width */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactImage {
    width: 100%; /* Ensure the image fits the container */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
/* Social Media Icons */
.socialIcons {
    margin-top: 20px;
}

.socialIcons a {
    color: #ffffff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.socialIcons a:hover {
    color: #379b92;
}

.socialIcons p {
color:#fff;
padding-bottom: 5px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}