.projects{
    height: 400px;
    background-color: #4cb6ac;
    align-items: center;
    width: 100%;
    
}

.cardSection{
    text-align: center; /* Centers the heading and content inside */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Centers the slider horizontally */
    justify-content: center;
    padding-top: 20px;
    padding-right: 0%;
    width: 100%;

}

.projectTitle{
    width: 90%;
    text-align: left;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: #ffffff;
    border-top:3px solid #ffffff;
    border-bottom:3px solid #ffffff;
    padding-top: 10px;  
    padding-bottom: 10px;  /* Add padding below the content */
    position: relative;
    margin-bottom: 2%;
}

.slider {
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    height: 250px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .slide {
    padding-left: 5%;
    padding-right: 5%;
    flex: 1;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 5%;
    transition: all 0.3s ease-in-out;

  }
  
  .slide h2 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #4cb6ac;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom:2px solid #4cb6ac;
    text-align: left;

  }
  
  .slide p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    margin-top: 0;
    text-align:justify;
  }
  
  .left-arrow,
.right-arrow {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 24px;
  padding: 10px;
  color: #333;
}
  
.left-arrow:hover,
.right-arrow:hover {
  color: #000000;
}
  
  
  .slider:hover {
    transform: scale(1.02);
  }
  